.notebook-container {
  width: 500px;
  position: sticky;
  position: -webkit-sticky;
  padding: 0px;
  top: 0px;
}

.notebook-item-link {
  height: 100%;
  width: 200px;
  margin-right: 50px;
}

.item-button {
  float: right;
}

.notebook-edit-input {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.notebook-create-input {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 10px;
}
